@main("Shaxsiy kabinet") {

  <div class="wrap">
    <div class="wrapper">
      <div class="header">
        <div class="cssmenu">
          <ul>
            <li class="active"><a href="index.html">Shaxsiy kabinet</a></li>
            <li style="margin-left: 360px"><strong style="color: white;font-weight: bold">Mahsulot qidirish</strong></li>
          </ul>
        </div>
        <div class="search">
          <form>
            <input id="search" type="text" value="" placeholder="qidirish">
            <input type="submit" value="">
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div class="wrapper">
      <div class="main_bg1">
        <div class="main">
          <div class="details">
            <h2 class="style" style="display: inline">Sotuvchi shaxsiy kabineti </h2>
            <button type="button" class="btn" style="border-radius: 10px; margin: -10px 30px 0 0 ">Xabarlar</button>
            <div class="det_pic img_style">
              <img style="width: 30%; margin:-90px 0 0 610px"  src="@routes.Assets.versioned("images/exp/all3.png")" alt="">
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th width="3%">No</th>
                  <th width="25%">Mahsulot turi</th>
                  <th width="23%">Mahsulot xajmi</th>
                  <th width="23%">Mahsulotga talab <br> (tonna)</th>
                  <th width="23%">Mahsulot qoldiqi <br> (tonna)</th>
                </tr>
              </thead>
              <tbody align="center">
                <tr>
                  <td>1</td>
                  <td>Paxta</td>
                  <td>100</td>
                  <td>100</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>G'alla</td>
                  <td>90</td>
                  <td>80</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Qovun</td>
                  <td>50</td>
                  <td>30</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Tarvuz</td>
                  <td>80</td>
                  <td>76</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Olma</td>
                  <td>20</td>
                  <td>5</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Nok</td>
                  <td>7</td>
                  <td>6</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>

            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  <div class="wrap">
    <div class="wrapper">
      <div class="main_bg1">
        <div class="main1">
          <div class="contact-social">
            <ul>
              <li><a href="#"><img src="@routes.Assets.versioned("images/facebook.png")" title="facebook"></a></li>
              <li><a href="#"><img src="@routes.Assets.versioned("images/twitter.png")" title="Twiiter"></a></li>
              <li><a href="#"><img src="@routes.Assets.versioned("images/rss.png")" title="Rss"></a></li>
              <li><a href="#"><img src="@routes.Assets.versioned("images/gpluse.png")" title="Google+"></a></li>
            </ul>
          </div>
          <div class="copy">
            <p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="https://github.com/behruz932-13/exp_pruducts/"> Behruz</a></p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
}