@main("Ro'yhatdan o'tish") {

    <div class="container">
        <form>
            <div class="row">
                <h4>Faoliyatingizni tanlang</h4>
                <br>
                <div class="input-group input-group-icon">
                    <select class="" name="direction" id="">
                        <option value="0">Sotuvchi</option>
                        <option value="1">Xaridor</option>
                    </select>
                </div>
                <h4>Mahsulot turini tanlang</h4>
                <div class="row">
                    <div class="col-third">
                        <input type="checkbox" name="payment-method" value="paxta" id="paxta"/>
                        <label for="paxta">Paxta</label>
                        <input type="checkbox" name="payment-method" value="galla" id="galla"/>
                        <label for="galla"> G'alla</label>
                        <input type="checkbox" name="payment-method" value="tarvuz" id="tarvuz"/>
                        <label for="tarvuz">Tarvuz</label>
                        <input type="checkbox" name="payment-method" value="nok" id="galla"/>
                        <label for="nok"> Nok</label>
                        <input type="checkbox" name="payment-method" value="orik" id="paxta"/>
                        <label for="orik">O'rik</label>
                    </div>
                    <div class="col-third">
                        <input type="checkbox" name="payment-method" value="qovun" id="galla"/>
                        <label for="qovun">Qovun</label>
                        <input type="checkbox" name="payment-method" value="olma" id="galla"/>
                        <label for="olma">Olma</label>
                        <input type="checkbox" name="payment-method" value="uzum" id="galla"/>
                        <label for="uzum"> Uzum</label>
                        <input type="checkbox" name="payment-method" value="pamidor" id="galla"/>
                        <label for="nok"> Pamidor</label>
                        <input type="checkbox" name="payment-method" value="1" id="paxta"/>
                        <label for="1">Paxta</label>
                    </div>
                    <div class="col-third">
                        <input type="checkbox" name="payment-method" value="2" id="galla"/>
                        <label for="2"> G'alla</label>
                        <input type="checkbox" name="payment-method" value="3" id="paxta"/>
                        <label for="3">Tarvuz</label>
                        <input type="checkbox" name="payment-method" value="4" id="galla"/>
                        <label for="4">Qovun</label>
                        <input type="checkbox" name="payment-method" value="5" id="galla"/>
                        <label for="5">Olma</label>
                        <input type="checkbox" name="payment-method" value="6" id="galla"/>
                        <label for="6"> Uzum</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Umumiy ma'lumotlar</h4>
                <br>
                <div class="input-group input-group-icon">
                    <input type="text" placeholder="I.Sh.O"/>
                    <div class="input-icon"><i class="fa fa-user"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="email" placeholder="Elektron manzil"/>
                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="tel" placeholder="Telefon raqam"/>
                    <div class="input-icon"><i class="fa fa-phone"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="text" placeholder="Login"/>
                    <div class="input-icon"><i class="fa fa-user"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Parol"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
                <div class="input-group input-group-icon">
                    <input type="password" placeholder="Parolni yana bir bor kiriting"/>
                    <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>
            </div>
            <div class="row">
                <div class="col-half">
                    <h4>Passpot ma'lumotlar</h4>
                    <div class="input-group">
                        <div class="col-third">
                            <input type="text" placeholder="Seriya"/>
                        </div>
                        <div class="col-half">
                            <input type="text" placeholder="Raqam"/>
                        </div>
                    </div>
                </div>
                <div class="col-half">
                    <h4>Address</h4>
                    <div class="input-group">
                        <input type="text" placeholder="Mamlakat,Viloyat,Shahar..."/>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Xisob raqamingiz</h4>
                <div class="input-group input-group-icon">
                    <input type="number" placeholder="Xisob raqam">
                    <div class="input-icon"><i class="fa fa-bank"></i></div>
                </div>
            </div>
            <div class="row">
                <h4>Payment Details</h4>
                <div class="input-group">
                    <input type="radio" name="payment-method" value="card" id="payment-method-card" checked="true"/>
                    <label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
                    <input type="radio" name="payment-method" value="paypal" id="payment-method-paypal"/>
                    <label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
                </div>
                <div class="input-group input-group-icon">
                    <input type="text" placeholder="Card Number"/>
                    <div class="input-icon"><i class="fa fa-credit-card"></i></div>
                </div>
                <div class="col-half">
                    <div class="input-group input-group-icon">
                        <input type="text" placeholder="Card CVC"/>
                        <div class="input-icon"><i class="fa fa-user"></i></div>
                    </div>
                </div>
                <div class="col-half">
                    <div class="input-group">
                        <select>
                            <option>01 Jan</option>
                            <option>02 Jan</option>
                        </select>
                        <select>
                            <option>2015</option>
                            <option>2016</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Terms and Conditions</h4>
                <div class="input-group">
                    <input type="checkbox" id="terms"/>
                    <label for="terms">
                        I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
                </div>
            </div>
        </form>
    </div>

    <script src="@routes.Assets.at("registration/js/index.js")"></script>
}